<div class="row section" ng-controller='customersController as cusCon'>
	<div class="col s4">
		<h5><u>Add a new customer</u></h5>
		<form name="customerForm">
			<label>Customer Name</label>
			<div ng-messages="cusCon.userExists">
				<p ng-message='exists'>User Already Exists.</p>
			</div>
			<input type="text" ng-model='cusCon.newCustomer.name' />
			<button class="btn waves-effect waves-light" ng-click='cusCon.create()'>Add Cusomer</button>
		</form>
	</div>
		<div class="section"></div>
		<div class="col s2 offset-s10">
		<input type="text" ng-model='filter_name' placeholder="Search by name" />
		</div>
		<table class="striped">
			<thead>
				<tr>
					<th>Customer Name</th>
					<th>Created Date</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='customer in cusCon.customers | filter: filter_name | orderBy: "createdAt"'>
					<td ng-bind='customer.name'></td>
					<td ng-bind='customer.createdAt | date:"mediumDate"'></td>
					<td><button class="btn waves-effect waves-light red" ng-click="cusCon.delete(customer._id)">Remove</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>