<div class="row section" ng-controller='productsController as prodCon'>
	<div class="col s2">
		<input type="text" placeholder="search..." ng-model='filter_name' />
	</div>
	<div class="col s10">
		<div class="row">
			<div ng-repeat='product in prodCon.products | filter: filter_name | orderBy: updatedAt | limitTo: 4' class="col s3">
				<img class='responsive-img' src="{{product.img}}">
				<p class="center">{{product.name}}</p>
				<p class="center">(<span>{{product.qty}}</span> in stock)</p>
			</div>
		</div>
		<p class="center"><a href="#/products">Show more</a></p>
	</div>
</div>
<div class="row" ng-controller='ordersController as ordCon'>
	<div class="col s10 offset-s2">
		<h5><u>Recent Orders</u></h5>
		<ul>
			<li ng-repeat='order in ordCon.orders | orderBy: "createdAt" :true| limitTo: 3'>{{order.customer}} purchased {{order.qty}} {{order.product}}... ({{ order.createdAt | date: 'medium' }})</li>
		</ul>
		<p class="center"><a href="#/orders">Show all orders...</a></p>
	</div>
</div>
<div class="row" ng-controller='customersController as cusCon'>
	<div class="col s10 offset-s2">
		<h5><u>Newest Customers</u></h5>
		<ul>
			<li ng-repeat='customer in cusCon.customers | orderBy: "createdAt" :true | limitTo: 3'>{{customer.name}} Joined the store... ({{ customer.createdAt | date: 'medium' }})</li>
		</ul>
		<p class="center"><a href="#/customers">Show all customers...</a></p>
	</div>
</div>